@import url(font.css);

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.page-container {
  text-align: center;
  margin: 0 auto;
  width: 1200px;
}

.header {
  margin: 64px 0;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: .1rem;
  margin-bottom: 16px;
}

.main {
  columns: 2;
}

.project-preview {
  margin-bottom: 50px;
}

.project-preview-title {
  margin-bottom: 15px;
  font-weight: 500;
}

.project-preview-img {
  width: 320px;
  height: 192px;
  border-radius: 16px;
  box-shadow: 0 16px 24px -18px rgba(8, 70, 94, .51);
  margin-bottom: 19px;
  transition: .3s;
  object-fit: cover;
}

.project-preview-img:hover {
  transform: scale(1.05);
}
