@import url(font.css);

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.page-content {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12) no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.header {
  padding: 80px 0;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: .1rem;
  margin-bottom: 16px;
}

.project {  
  max-width: 1000px;
  padding: 60px 40px;
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: 0 16px 24px -18px rgba(8, 70, 94, .51);
  border-radius: 16px;
  color: #333;
}


.project__content {
  display: flex;
  justify-content: space-between;
}

.project__desc {
  max-width: 45%;
}

.project__title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.project__about {
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.project__demo-btn {
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  color: #333;
  padding: 13px 18px;
  border-radius: 8px;
  border: 2px solid #333;
  transition: .3s;
}

.project__demo-btn:hover {
  background-color: #333;
  color: #fff;
}

.project__preview {
  width: 45%;
}

.project__img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transition: .3s;
  object-fit: cover;
}

.project__img:hover {
  transform: scale(1.02);
}
