@import url(font.css);

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
  font-family: Lato, Arial, Helvetica, sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

.block-title {
  font-size: 2.6rem;
  font-weight: 600;
}

.intro {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(90deg, rgba(213, 32, 71, .8), rgb(238, 61, 27, .8)), url(../img/main-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

.intro > .container {
  flex-direction: column;
  padding-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.header__logo-block {
  display: block;
}

.logo {
  display: flex;
  align-items: baseline;
}

.logo__img {
  height: 18px;
  object-fit: contain;
  margin-right: 10px;
}

.logo__name {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-burger {
  display: none;
}

.bar {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.header__nav-list {
  display: flex;
}

.header__nav-link {
  position: relative;
  color: #fff;
  margin-right: 25px;
  text-transform: uppercase;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  transition: .3s;
}

.header__nav-link:hover::after {
  width: 100%;
  background: #fff;
}

.header__login-btn {
  padding: 12px 28px;
  color: #fff;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  border-radius: 6px;
  transition: .3s;
}

.header__login-btn:hover {
  background: #fff;
  color: #ED4C5C;
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 52%;
  height: calc(100vh - 93px);
}

.intro__title {
  font-size: 5.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin-bottom: 40px;
  padding-top: 50px;
}

.intro__subtitle {
  font-size: 1.7rem;
  line-height: 2.6rem;
  font-weight: 600;
  margin-bottom: 52px;
}

.intro__btn {
  width: fit-content;
  margin: 0 auto;
  color: #ED4C5C;
  font-weight: 600;
  text-transform: uppercase;
  background: #fff;
  padding: 16px 52px;
  border-radius: 6px;
  transition: .3s;
}

.intro__btn:hover {
  transform: scale(1.1);
}

.overview {
  padding: 95px 0 95px;
}

.overview__text {
  max-width: 40%;
  margin-right: 125px;
}

.overview__image {
  max-width: 40%;
}

.overview__image img {
  max-width: 100%;
  height: 310px;
  border-radius: 15px;
  object-fit: cover;
}

.overview__title {
  padding: 51px 0 44px;
  line-height: 3rem;
}

.overview__description {
  line-height: 1.4rem;
  text-align: justify;
  margin-bottom: 20px;
}

.overview__link {
  color: #ED4C5C;
  line-height: 1.4rem;
  transition: .2s;
}

.overview__link:hover,
.features__item-link:hover {
  color: #000;
  font-weight: 700;
}

.features {
  background-color: #FAFAFA;
  padding: 68px 0 32px;
}

.features > .container {
  flex-direction: column;
}

.features__title {
  text-align: center;
  margin-bottom: 76px;
}

.features__list {
  display: flex;
  justify-content: space-between;
}

.features__item {
  max-width: 31.5%;

}

.features__item-img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

.feature__item-content {
  margin: 0 auto;
  text-align: center;
}

.feature__item-wrapper {
  max-width: 84%;
  margin: 0 auto;
  position: relative;
  top: -92px;
  padding: 35px 34px 25px;
  background-color: #fff;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.features__item-title {
  font-size: 1.3rem;
  line-height: 1.54rem;
  font-weight: 700;
  margin-bottom: 19px;
}

.features__item-description {
  font-size: .85rem;
  line-height: 1.28rem;
  margin-bottom: 29px;
}

.features__item-link {
  font-size: .85rem;
  color: #ED4C5C;
  font-weight: 700;
  transition: .2s;
}

.technology {
  padding: 67px 0 135px;
  text-align: center;
}

.technology > .container {
  flex-direction: column;
}


.technology__title {
  margin-bottom: 125px;
}

.technology__list {
  display: flex;
  justify-content:space-between;
}

.technology__item {
  position: relative;
  max-width: 17%;
  margin: 0 36px;
}

.technology__item:before {
  content: "";
  position: absolute;
  font-size: 7.1rem;
  font-weight: 700;
  top: -26%;
  right: 0;
  left: 0;
  color: rgba(16, 16, 16, .08);
}

.technology__item:nth-child(1):before {
  content: "01";
}

.technology__item:nth-child(2):before {
  content: "02";
}

.technology__item:nth-child(3):before {
  content: "03";
}

.technology__item:nth-child(4):before {
  content: "04";
}

.technology__item-icon {
  margin-bottom: 4px;
}

.technology__item-title {
  font-size: 1.3rem;
  line-height: 1.54rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.technology__item-description {
  font-size: .85rem;
}

.get-started {
  padding: 95px 0;
  background-color: #ED4C5C;
  color: #fff;
}

.get-started__text {
  width: 40%;
  margin-right: 125px;
}

.get-started__title {
  padding-top: 30px;
  margin-bottom: 48px;
  line-height: 3rem;
}

.get-started__description {
  margin-bottom: 42px;
  line-height: 1.4rem;
  text-align: justify;
}

.get-started__image {
  width: 40%;
  height: 310px;
  border-radius: 15px;
  object-fit: cover;
}

.get-started__list-item {
  margin-right: 22px;
}

.get-started__list-item:last-child {
  margin-right: 0;
}

.get-started__link-list {
  display: flex;
  align-items: center;
}

.get-started__icon {
  transition: .2s;
}

.get-started__icon:hover {
  transform: scale(1.1);
}

.contact {
  padding: 117px 0 123px;
}

.contact > .container {
  width: 1090px;
  justify-content: space-between;
}

.contact__text{
  max-width: 39%;
  margin-right: 135px;
}

.contact__title {
  margin-bottom: 55px;
  padding-top: 6px;
}

.contact__description {
  line-height: 1.4rem;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
}

.contact__input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #333333;
  padding: 20px 31px;
  margin-bottom: 26px;
}

.contact__input:focus {
  outline-color: #333333;
}

.contact__input:invalid {
  outline-color: #ED4C5C;
}


.contact__input:nth-child(1),
.contact__input:nth-child(2) {
  max-width: 48%;
}

.contact__input::placeholder {
  color: rgba(19, 39, 67, .5);
  font-size: 1.14rem;
}

.contact__submit {
  cursor: pointer;
  padding: 16px 36px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #ED4C5C;
  border: 1px solid #ED4C5C;
  color: #fff;
  transition: .3s;
  -webkit-appearance: none;
}

.contact__submit:hover {
  background-color: #fff;
  color: #ED4C5C;
}

.footer {
  background-color: #FAFAFA;
  padding-bottom: 86px;
}

.footer > .container {
  flex-direction: column;
}

.footer__categories {
  display: flex;
  padding: 88px 0 105px;
}

.footer__category:first-child {
  margin-right: 115px;
}

.footer__category:nth-child(2) {
  margin-right: 180px;
}

.footer__category:nth-child(3) {
  margin-right: 167px;
}

.footer__category-title {
  font-size: 1.28rem;
  font-weight: 700;
  margin-bottom: 33px;
}

.footer__category-description {
  font-size: .85rem;
  line-height: 1.38rem;
}

.footer__category-list-item a {
  color: #000;
  transition: .3s;
}

.footer__category-list-item a:hover {
  color: #ED4C5C;
}

.foooter__contacts {
  margin-bottom: 15px;
}

.footer__contact {
  margin-bottom: 7px;
  display: block;
  color: #000;
  transition: .3s;
}

.footer__contact:hover {
  color: #ED4C5C;
}

.footer__social-link {
  margin-right: 9px;
}

.footer__social-link:last-child {
  margin-right: 0;
}

.social-icon {
  width: 14px;
  height: 14px;
  fill: #000;
  transition: .3s;
}

.social-icon:hover {
  fill: #ED4C5C;
}

.copyright {
  font-size: .85rem;
}

@media screen and (max-width: 1240px) {
  .intro__content {
    width: 70%;
  }

  .contact > .container {
    width: 90%;
  }

  .footer__categories {
    justify-content: space-between;
  }

  .footer__category:nth-child(1),
  .footer__category:nth-child(2),
  .footer__category:nth-child(3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 980px) {
  .header__nav-list {
    display: none;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    background-color: #ED4C5C;
    text-align: center;
    transition: 0.9s;
  }

  .header__nav-list.active {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.9s;

  }

  .header__login-btn {
    display: none;
    width: 50%;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
  }

  .header__login-btn.active {
    display: block;
  }

  .header__menu-burger {
    display: block;
    cursor: pointer;
  }

  .header__menu-burger.active .bar:nth-child(2){
    opacity: 0;
  }

  .header__menu-burger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .header__menu-burger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .header__nav-item {
    margin-bottom: 45px;
  }

  .header__nav-link {
    font-size: 4rem;
    font-weight: 700;
    margin-right: 0;
  }

  .intro__content {
    width: 100%;
  }

  .technology {
    padding-bottom: 45px;
  }


  .technology__list {
    flex-wrap: wrap;
  }

  .technology__item {
    max-width: 50%;
    width: 40%;
  }

  .technology__item {
    margin-bottom: 90px;
  }
  
  .contact__form {
    width: 45%
  }

  .contact__input:nth-child(1),
  .contact__input:nth-child(2) {
    max-width: 48%;
  }

  .contact__input {
    padding: 15px 20px;
    margin-bottom: 10px;
  }

  .contact__input::placeholder {
    font-size: .9rem;
  }

  .contact__submit {
    padding: 15px 20px;
    font-size: .9rem;
  }

  .footer__payment-methods {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 85%;
  }

  .overview > .container {
    justify-content: space-between;
  }

  .overview__text {
    margin-right: 0;
    max-width: 50%;
  }

  .overview__image {
    align-self: center;
  }

  .features {
    padding: 70px 0 0;
  }

  .features__list {
    flex-direction: column;
    align-items: center;
  }

  .features__item {
    max-width: 80%;
  }

  .technology {
    padding: 90px 0 0;
  }

  .technology__item {
    max-width: 35%;
  }

  .contact {
    padding: 70px 0;
  }

  .footer {
    padding-bottom: 36px;
  }

  .footer__categories {
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .footer__category,
  .footer__category:nth-child(1),
  .footer__category:nth-child(2),
  .footer__category:nth-child(3) {
    min-width: 50%;
    width: 50%;
    margin-bottom: 50px;
  }

  .footer__payment-methods {
    max-width: 50%;
  }
}

@media screen and (max-width: 670px) {
  .header__nav-link {
    font-size: 2rem;
  }

  .header__nav-item {
    margin-bottom: 20px;
  }

  .header__login-btn {
    font-size: 1.5rem;
  }
  .intro__title {
    font-size: 3.5rem;
  }

  .intro__subtitle {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }

  .overview > .container {
    flex-direction: column;
    align-items: center;
  }

  .overview__text {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .overview__image {
    max-width: 100%;
  }

  .technology__list {
    justify-content: center;
  }

  .features__item {
    max-width: 100%;
  }

  .technology__item {
    max-width: 80%;
    margin-bottom: 120px;
  }

  .get-started > .container {
    flex-direction: column;
    align-items: center;
  }

  .get-started__text {
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }

  .get-started__image {
    width: 100%;
  }

  .contact > .container {
    flex-direction: column;
    align-items: center;
  }

  .contact__text {
    max-width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }

  .contact__form {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  .intro__title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .intro__subtitle {
    font-size: 1.1rem;
  }

  .overview,
  .get-started {
    padding: 75px 0;
  }

  .overview__title {
    padding: 0 0 24px;
  }

  .technology {
    padding-top: 70px;
  }

  .get-started__title {
    padding-top: 0;
  }

  .footer__categories {
    padding-top: 65px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .footer__payment-methods {
    max-width: 70%;
  }
}

@media screen and (max-width: 375px) {
  .intro__title {
    font-size: 2.2rem;
    letter-spacing: .1rem;
  }

  .intro__subtitle {
    font-size: .9rem;
  }
}