@font-face {
  font-family: 'Kumbh Sans';
  src: url(fonts/kumbh-sans-400.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url(fonts/kumbh-sans-700.woff2);
  font-weight: 700;
  font-style: normal;
}